@charset "utf-8";

/* =====================Document Standards===================== */

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font: 14px 'Open Sans', sans-serif;
}

main, section, nav, aside, footer {
	display: block;
}

.content {
	padding: 15px;
	position: relative;
	margin: 0 auto 0;
	width: 80%;
	max-width: 960px;
	box-shadow: 4px 0px 10px -4px rgba(73,73,73,.6) inset,
			    -4px 0px 10px -4px rgba(73,73,73,.6) inset,
			   	0px -4px 10px -4px rgba(73,73,73,.6) inset;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* ========================Header=============================== */

nav.main_nav {
	position: fixed;
	text-align: center;
	z-index: 100;
	width: 100%;
	text-transform: uppercase;

	box-shadow: 0px 2px 4px rgba(73,73,73,.6);
	background-color: #f0f0f0;
    background-image: -webkit-gradient(linear,left top, left bottom,from(#FFF), color-stop(0.55,#FFF), color-stop(0.0, #EEE));
    background-image: -moz-linear-gradient(#FFF 0%, #FFF 55%, #EEE 0%);
    background-image: -o-linear-gradient(#FFF 0%, #FFF 55%, #EEE 0%);
    background-image: -ms-linear-gradient(#FFF 0%, #FFF 55%, #EEE 0%);
    background-image: linear-gradient(#FFF 0%, #FFF 55%, #EEE 0%);
}

nav.main_nav ul {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav.main_nav ul li {
	border-right: 1px solid rgba(5, 5, 5, 0.125);
	display: inline;
	margin: 0;
}

nav.main_nav ul li a {
	display: inline-block;
	padding: 8px 35px 8px 35px;
	position: relative;
	height: 18px;

	color: #303030;
	font: 1em 'Open Sans', sans-serif;
	font-weight: normal;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75);
	letter-spacing: 2px;
	text-decoration: none;
	white-space: nowrap;
}

nav.main_nav ul li a:hover {
	color: #7B7B7B;

	background-color: #E6E6E6;
    background-image: -webkit-gradient(linear,left top, left bottom,from(#e6e6e6), color-stop(0.3,#f0f0f0), color-stop(0.5, #FEFEFE));
    background-image: -moz-linear-gradient(#e6e6e6 0%, #f0f0f0 30%, #FEFEFE 50%);
    background-image: -o-linear-gradient(#e6e6e6 0%, #f0f0f0 30%, #FEFEFE 50%);
    background-image: -ms-linear-gradient(#e6e6e6 0%, #f0f0f0 30%, #FEFEFE 50%);
    background-image: linear-gradient(#e6e6e6 0%, #f0f0f0 30%, #FEFEFE 50%);
}

nav.main_nav ul li:first-child {
	border-left: 1px solid rgba(9, 9, 9, 0.125);
}
nav.main_nav ul li:last-child {
	-webkit-box-shadow: inset -2px 0px 0px -1px rgba(0,0,0,.125);
    -moz-box-shadow: inset -2px 0px 0px -1px rgba(0,0,0,.125);
    box-shadow: inset -2px 0px 0px -1px rgba(0,0,0,.125);
}

header.section_header {
	position: relative;
	width: 100%;
	border-bottom: 1px solid rgba(9,9,9,.125);
	background-color: #F8F8F8;
	z-index: -1;
}

header.section_header h1 {
	font-size: 2.1428em;
	color: #585858;
	font-weight: 500;
	letter-spacing: 1px;
	width: 80%;
	max-width: 900px;
	margin: 0px auto 0px;
	padding:15px 0 10px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/* ======================Footer=========================== */

footer {
	position: absolute;
	width: 100%;
	height: 22px;
	bottom: 0px;
	padding: 6px 0;

	color: #787878;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;

	background-color: white;
	box-shadow: 0px -2px 4px rgba(73,73,73,.6);
}
footer a{
	margin-left: 6px;
}

#licensing {
	display: none;
	vertical-align: 6px;
}


/* =====================Home Page========================= */

#home_page h1 {
	display: none;
}

#home_page main {
	position: absolute;
	top: 75px;
	bottom: 80px;
	max-height: 600px;
	width: 100%;
	overflow: hidden;
	background: url('../photos/general/home_background.jpg') repeat;

	box-shadow: inset 0px 10px 20px -10px rgba(0, 0, 0, 0.55), 
				inset 0px -10px 20px -10px rgba(0, 0, 0, 0.55);			
	display: none;
}

#home_page div.white_cover {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 100;

	background: -moz-linear-gradient(left, rgba(222,222,222,0.75) 0%, rgba(207,207,207,0.6) 50%, rgba(222,222,222,0.75) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(222,222,222,0.75)), color-stop(50%, rgba(207,207,207,0.6)), color-stop(100%, rgba(222,222,222,0.75)));
	background: -webkit-linear-gradient(left, rgba(222,222,222,0.75) 0%, rgba(207,207,207,0.6) 50%, rgba(222,222,222,0.75) 100%);
	background: -o-linear-gradient(left, rgba(222,222,222,0.75) 0%, rgba(207,207,207,0.6) 50%, rgba(222,222,222,0.75) 100%);
	background: -ms-linear-gradient(left, rgba(222,222,222,0.75) 0%, rgba(207,207,207,0.6) 50%, rgba(222,222,222,0.75) 100%);
	background: linear-gradient(to right, rgba(222,222,222,0.75) 0%, rgba(207,207,207,0.6) 50%, rgba(222,222,222,0.75) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#dedede', GradientType=1 );

	-webkit-box-shadow: inset 0px 10px 20px -10px rgba(0, 0, 0, 0.55),
						inset 0px -10px 20px -10px rgba(0, 0, 0, 0.55);
	-moz-box-shadow:    inset 0px 10px 20px -10px rgba(0, 0, 0, 0.55),
						inset 0px -10px 20px -10px rgba(0, 0, 0, 0.55);
	box-shadow:         inset 0px 10px 20px -10px rgba(0, 0, 0, 0.55),
						inset 0px -10px 20px -10px rgba(0, 0, 0, 0.55);

	display: none;
}

#home_page nav {
	position: absolute;
	width: 100%;
	display: inline-block;
	text-align: center;
	bottom: 15px;
	z-index: 300;
	left: 0px;
}

#home_page nav ul {
	position: relative;
	padding: 0px;
	margin: 0px auto 0px;
	display: inline-block;
	list-style-type: none;
	display: none;
}

#home_page nav ul li {
	display: inline;
	text-align: center;
	border-right: 1px solid: #303030;
}

#home_page nav ul li:last-child {
	border-right: none;
}

#home_page nav ul li a{
	color: #303030;
	display: inline-block;
	font: 1.2857em 'Open Sans', sans-serif;
	font-weight: normal;
	position: relative;
	text-shadow: 1px 1px 0 rgba(200, 200, 200, .75);
	letter-spacing: 2px;
	text-decoration: none;
	z-index: 300;
	width: 100px;
	padding: 10px 20px;
}

#home_page nav img{
	text-align: center;
	z-index: 300;
}


/* ===================Gallery Page======================== */

#gallery_page {
	background-color: #f8f8f8;
}
#gallery_page main {
	overflow-x: auto;
	overflow-y: hidden;
	padding: 36px 0;
	position: relative;
	text-align: center;
	height: 100%;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	background-color: #f8f8f8;
}

#left_thumbs, #right_thumbs {
	position: absolute;
	text-align: left;
	display: inline-block;
	bottom: 34px;
	height: 200px;
}
#left_thumbs {
	left: 0px;
}

#left_thumbs img {
	position: absolute;
	bottom: 0px;
	box-shadow: 8px 3px 8px -2px #888;
}

#left_thumbs a, #right_thumbs a {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 100;
}

#right_thumbs {
	right: 0px;
}

#right_thumbs img {
	position: absolute;
	bottom: 0px;
	box-shadow: -8px 3px 8px -2px #888;
}

#gallery_page section {
	height: 100%;
	position: relative;
	display: inline-block;
	padding: 0 70px;
	background-color: #202020;
	box-shadow: 5px 0 6px rgba(0,0,0,.4) , -5px 0 6px rgba(0,0,0,.4);
}

#gallery_page figure {
	display: inline-block;
	margin: 0 auto;
	padding: 0;
	height: 100%;
}

#gallery_page figure img{
	height: 100%;
	width: auto;
	display: block;
	margin: 0 auto;
}


#gall_clicks {
	position: absolute;
	left: 0px;
	width: 100%;
	height: 100%;
}

#gall_clicks a.click_prev, #gall_clicks a.click_next {
	position: absolute;
	width: 50%;
	height: 100%;
}

#gall_clicks a.click_prev {
	left: 0px;
}

#gall_clicks a.click_next {
	right: 0px;
}

#gallery_page aside {
	display: inline-block;
	position: absolute;
	width: 20%;
	max-width: 200px;
	top: 36px;
	left: 0px;
	padding: 0px 15px;
}

#gallery_page aside h1{
	color: #585858;
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: normal;
}

#gallery_page aside p{
	font-size: 1em;
	color: #585858;
}

#gallery_page p a{
	text-decoration: none;
	color: black;
}


/* ======================About Page========================== */

#about_page main {
	padding: 36px 0;
}

#about_page figure {
	margin: 0px;
	margin-right: -19px;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 32.473118279%;
}

#about_page figure img {
	display: block;
	width: 100%;
} 

#about_page div.content p {
	margin: 0px;
	font-size: 1em;
	width: 67.52688172%;
	padding: 5px 0px 25px 1.592356687%;
}

/* ====================== Contact-page========================== */
#contact_page main {
	padding: 36px 0;
}


/* ===================== Responsive ============================ */
@media only screen and (max-width: 900px) {
	#about_page main figure {
		display: none;
	}
	#about_page div.content p {
		width: 100%;
	}
	#gallery_page main section {
		padding: 0;
		width: 100%;
	}
	#home_page main img{
		max-height: 100%;
	}

	#home_page nav img{
		max-width: 100%;
	}
}
@media only screen and (max-width: 690px) {
	.content {width: 90%; }
	nav.main_nav ul {
		display: block;
		width: 100%;
	}
	nav.main_nav ul li {
		display: inline-block; 
		width: 19%;
	}
	nav.main_nav ul li:first-child {
		border-left: none;
	}
	nav.main_nav ul li:last-child {
		border-right: none;
		box-shadow: none;
	}

	nav.main_nav ul li a {
		padding: 8px 0;
		width: 100%;
	}
}

@media only screen and (max-width: 480px) {
	.content { width: 98%; }
	#home_page main img {
		margin-left: -80px;
	}
	#home_page  nav img{
		margin-left: 0;
		max-width: 100%;
		position: fixed;
		top: 25px;
		left: 0;
	}

	#home_page nav, #home_page nav ul{
		width: 100%;
	}
	#home_page nav ul li{
		display: inline-block;
		width: 32%;
	}
	#home_page nav ul li a{
		padding: 10px 0;
		width: 100%;
	}
	nav.main_nav ul li{
		width: 26%;
	}
	nav.main_nav ul li:first-child{
		width: 20%;
	}
	

	nav.main_nav ul li:nth-child(4) {
		border-right: none;

	}
}